<head><title>Asteroids</title>

</head>
<body style="background-color:black;">
  <script src="../assets"></script>
   <div style="position: absolute; z-index: -2; height: 601px; width:801px;">
  <!-- image from: http://www.connectpositronic.com/blog/wp-content/uploads/2013/06/space.jpg--> 
    <img src="../assets/space.jpg" height="600" width="800"></img>
  </div>

  <script>
  var canvas = document.createElement("canvas");
  canvas.style.border = "white 1px solid";
 // canvas.style.backgroundImage = "./background.png";
  canvas.setAttribute("width", 800);
  canvas.setAttribute("height", 600);


  var body = document.getElementsByTagName("body")[0];
  //body.setAttribute("backgroundColor: black;")
  body.appendChild(canvas);

  var ctx = canvas.getContext("2d");
  ctx.font = "20px Arial";

  var game = new AsteroidsGame.Game(ctx);
  var points = game.points;
  var lives = game.lives;
  game.start();
  
  </script>
 <h3 id="instructions" style="float: right; color: white; font-size: 18px;">
    <p> Controls: </p>
    <p> Accelerate up: "w" </p>
    <p> Slow down: "s" </p>
    <p> Rotate left: "a" </p>
    <p> Rotate right: "d" </p>
    <p> Shoot: spacebar </p>
    <br> </br>
    <p> Tips: </p>
    <p> Be patient with yourself. Like the original Asteroids game,
    <br></br> the controls
        may be somewhat counter intuitive.
    </p>
    <p> Smaller asteroids are harder to hit, but are worth more points. </p>
    <p> Additional lives are rewarded at: </p>
    <p> 1000 points </p>
    <p> 2000 points </p>
    <p> 4000 points </p>
    <p> 8000 points </p>
    <p> and so on... </p>
  </h3>



</body>

<!-- TODO: Create leader board --> 