<h2>Thomas Nast | tommyn@isomedia.com | (206) 947-6904</h2>

<h3>Projects</h3>				
<p>
	<h4> Trello Clone </h4>
	<a href="http://www.aheadplan.com">www.aheadplan.com</a>	Full-stack development of a clone of www.trello.com. Designed to be RESTful and includes user authentication and high scalability. Ruby on Rails, JavaScript and BackBone.js and uses a postgres database. 
</p>
<p> <h4> Poor man's Asteroids </h4> 				Created a modified version of the classic Asteroids video game					to be playable online. Features a continually increasing level of					difficulty. JavaScript, CSS. homeaway.herokuapp.com/asteroids 
</p>
<p><h4> TDD Poker </h4>					Created a test-driven playable version of poker with RSpec. https://github.com/TND23/Poker . Ruby. 
</p>
<p> <h4> Portfolio </h4>	Created a website to showcase some of my various projects. homeaway.herokuapp.com 
</p>

<h3>Education</h3>				
<p>B.S. Mathematics – Linfield College, 2013</p>

<p>Associates Degree Mathematics – Shoreline Community College, 2011<p>

<h3>Work-Study at Linfield </h3>			
<p>Mathematics Homework grader for Professor Jeff Wright – Spring 2012</p>
<p>Tutor in Calculus, Fall Semester 2012 – Spring Semester 2013</p>

<h3>Linfield Activities </h3> 			
<p>2012 Kryptos Challenge</p>
<p>2012 USACO Challenge</p>
<p>2013 PRCCP Challenge Participant</p>
<p>2013 Kryptos Challenge</p>


					
<h3>Post-Linfield Activity</h3>			
<p>Sept.-Dec. 2013 APP Academy, San Francisco 
<a href="http://www.appacademy.io/#p-curriculum">www.appacademy.io/#p-curriculum</a>


<h3>Software</h3>	Eclipse, Aptana, Microsoft Visual 2010, MatLab, LaTex, Sublime, Textmate. 

<h3>Skills</h3> 	Ruby, Ruby on Rails, JavaScript, jQuery, Backbone.js, Java, Git, C++, SQL, HTML, CSS, 4 years of Japanese.

