<div id="resume-wrap">
	<div id="resume-container">
				<dl>

		<h2>Thomas Nast | tommyn@isomedia.com | (206) 947-6904</h2>

			<dt id="projects"> Projects </dt>		
			<dd>		
				
					<h4> Trello Clone </h4>
					<a href="http://www.aheadplan.com">www.aheadplan.com</a>
					<p>Full-stack development of a clone of www.trello.com. Designed to be RESTful and includes user authentication and high scalability. Ruby on Rails, JavaScript and BackBone.js and uses a postgres database. 
					</p>
				

				<h4> Asteroids </h4>
					<p>
				 	Created a modified version of the classic Asteroids video game					to be playable online. Features a continually increasing level of					difficulty. Written in JavaScript. Playable at: tdnast.me/asteroids
				 	</p> 
				

				<h4> Alfalfa  </h4>
					<p>	A ruby gem that allows for alphabetization of gemfiles in the ruby command line.  Ruby. 
					</p>
				
		 		
		 			<h4> Others </h4> 
		 			<a href="https://github.com/TND23">github.com/TND23</a>
		 			<p> Feel free to check out some of the other stuff I'm working on
		 				here at github </p>
		 		
			</dd>
			<dd class="clear"></dd>

		<dt>Education</dt>			
	
			<dd>			
				<p>B.S. Mathematics – Linfield College, 2013</p>
				<p>Associates Degree Mathematics – Shoreline Community College, 2011<p>
			</dd>

			<dd class="clear"></dd>

		<dt> Work-Study </dt>	
		<dd>		
			<p>Mathematics Homework grader for Professor Jeff Wright – Spring 2012</p>
			<p>Tutor in Calculus, Fall Semester 2012 – Spring Semester 2013</p>
		</dd>

		<dd class="clear"></dd>
		<dt id="activities"> Activities </dt> 
		<dd>			
			<p>2012 Kryptos Challenge</p>
			<p>2012 USACO Challenge</p>
			<p>2013 PRCCP Challenge </p>
			<p>2013 Kryptos Challenge</p>					
			<p>Sept.-Dec. 2013 APP Academy, San Francisco 
			<a href="http://www.appacademy.io/#p-curriculum">www.appacademy.io/#p-curriculum</a>
		</dd>


		<dd class="clear"></dd>
		<dt id="software-skills">Software / Skills</dt>
		<dd>	
			<p> Software </p>
			<p>Eclipse, Aptana, Microsoft Visual 2010, MatLab, LaTex, Sublime, Textmate. </p>

			<p> Skills </p> 
			<p> 	Ruby, Ruby on Rails, JavaScript, jQuery, Backbone.js, Java, Git, C++, SQL, HTML, CSS, Graph Theory, sense of humor </p>
		</dd>
	</div>
</div>