<html>
    <head>
        <title>
            Thomas' Webpage
        </title>
    </head>
    <body>
    <div class="navbar navbar-inverse" role="navigation" style="width:100%">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
           
                </button>
                <a class="navbar-brand" href="#">dashboard</a>
            </div>
            <ul class="nav navbar-nav" >
                <li><a href="#">Welcome</a></li>
                <li><a id="projects-button" href="#">Projects</a></li>
                <li><a id="resume-button" href="#">Resume</a></li>
                <li><a id="about-me-button" href="#about">About Me</a></li>
            </ul>
        </div>
    </div>
            <div class="logo" style="height: 100%;">
            <h1 style="z-index: 2; position: absolute;">
                        Thomas Nast
                        <small>web developer</small>
                    </h1>
                    <div style="height:100%; width:100%;">

                    <div id="about-me" class="push-center" style="height: 100%; width: 100%; background-color: rgba(146, 118, 168, .5); z-index: 1; position: absolute;  display: none; margin-top: 0px;">
                        <p style="margin-top: 100px; color: #FFFFFF; margin-left: 10px; font-family: Segoe UI"> Hi! I'm Tommy. Or Thomas. Call me either, but don't call me Tom! I'm a web-developer who is migrating between San Fransisco and Seattle looking for opportunities. This is my little personal website, and as you can see it has quite some touching up to do. For info about my resume, click the 'resume' button. To check out a small list of my personal and group projects, scroll down or click on the projects button. If you're a real weirdo and want to actually know about <i> me </i> then e-mail me at tommyn (at) isomedia (dot) com. </p>
                    </div>
                <%= image_tag "IMG_0219.JPG", {height: "100%", margin: 0} %>
            </div>
            
            </div>
        </div>  

            <h2>Projects</h2>
            <blockquote>
                <p>La semplicità è la massima sofisticazione / 
                Simplicity is the ultimate sophistication </p>
                <footer><cite>Leonardo Da Vinci</cite></footer>
            </blockquote>
            <div class="row">
                <div id="box1" class="col-md-4">
                    <a href="http://www.aheadplan.com"><img src="trolleapp_img.png" alt=""></a>                        
                </div>
                <div class="col-md-4">
                    <a href="./asteroids/index.html"><img src="asteroids.png" alt=""></a>                        
                </div>
                <div class="col-md-4">
                    <a href="#"><img src="" alt=""> More coming soon..</a>                        
                </div>
            </div>
        </div>
        <footer>
            <div class="navbar navbar-inverse" role="navigation" style="width:100%">
                <div class="container">
                    <ul class="nav navbar-nav" >
                        <li><a href="#">Welcome</a></li>
                        <li><a id="projects-button-2" href="#">Projects</a></li>
                        <li><a id="resume-button" href="#">Resume</a></li>
                        <li><a id="about-me-button" href="#about">About Me</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>

    <script>

        $("#projects-button").click(function(){
            $('html, body').animate({
                scrollTop: $("#box1").offset().top
            }, 500);
        });

            $("#projects-button-2").click(function(){
            $('html, body').animate({
                scrollTop: $("#box1").offset().top
            }, 500);
        });

        $("#about-me-button").click(function(){
            var about_me = $("#about-me");
            var default_pic = $("#default-pic");
            about_me.toggle("visible");
        });

        $('#resume-button').click(function(){
        var r=confirm("Download this document? (.doc format)");
        if (r==true){
            $('#resume-button').attr({target: '_blank', href: './resume.doc'});
        }       
        else{
            var x = confirm("check out the plain text version online?");
            if (x ==true){
                 $('#resume-button').attr({target: '_blank', href: './resume-plain.txt'});
            }
        }
        });
    </script>
</html>