<html>
    <head>
        <title>Thomas' Webpage</title>
    </head>
    <body style="background-color: rgb(56, 63, 116)">
        <div class="navbar navbar-inverse" role="navigation" style="width:100%">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand">Thomas Nast</a>
                </div>

            </div>
        </div>
        <div class="logo" style="height: 100%;">
             
            <div style="height:100%; width:100%;">

                <div id="about-me" class="push-center" style="width: 100%; background-color: rgba(146, 118, 168, .5); z-index: 1; position: absolute;  display: none; margin-top: 0px;">
                    <p style="margin-top: 100px; color: #FFFFFF; margin-left: 10px; font-family: Segoe UI; font-size: 1.5em;"> 
                        Hi! I'm Tommy. Or Thomas. Whichever you prefer. I'm a web-developer who is migrating between San Fransisco and Seattle looking for opportunities.  For information about my resume, click the 'resume' button. To check out a small list of my personal and group projects, scroll down or click on the projects button. More of my projects are listed under my github account, which can also be found below. Now please enjoy this cheese-tastic photo of me from before I discovered what a comb was. 
                    </p>
                    <%= image_tag "web_pic1.jpg", :id => 'profile-pic' %>
                </div>
                <%= image_tag "IMG_0219.JPG", :id => 'sunset-hill' %>
            </div>                
        </div>

        <div class="navbar navbar-inverse" role="navigation" style="width:100%">
            <div class="container">
                <div class="navbar-header">
                    <ul class="nav navbar-nav" >
                        <li><a id="about-me-button" href="#about">About Me</a></li>
                        <li><a id="resume-button" href="#">Resume</a></li>
                        <li><a id="contact-me-button" href="#contact">Contact</a></li> 
                    </ul>
                </div>
            </div>
        </div>

        <h2 id="projects-header" style="color: white;">Projects</h2>

        <%= render 'slideshow' %>
        <footer>
        <legend style="border-bottom: 2px solid #e5e5e5"> </legend>

        <p style="line-height: 6;"> 
            <div id="footer-left-column">
                    <a href="https://github.com/TND23/">
                        <i class="fa fa-github col-md-3 col-sm-1" style="text-shadow: 1px 1px 1px #ccc; font-size: 8em; color: rgb(59, 100, 171); margin-left: 70px; margin-top: 10px;"> 
                        </i>
                    </a> 
            </div>
            <div id="footer-right-column">
                    <a href="http://linkedin.com/pub/thomas-nast/6a/747/349/">
                        <i class="fa fa-linkedin col-md-3 col-sm-1" style="text-shadow: 1px 1px 1px #000; font-size: 8em; color: rgb(255, 255, 255); margin-left: 70px; margin-top: 10px;">
                        </i>
                    </a>
                </div>
        </p>
        </footer>       



    </body>
    <script>
        $("#about-me-button").click(function(){
            var about_me = $("#about-me");
            var default_pic = $("#default-pic");
            about_me.toggle("visible");
        });

        $('#resume-button').click(function(){
            var r=confirm("View my resume online?");
            if (r==true){
                $('#resume-button').attr({target: '_blank', href: './resume'});
            }       
        });
    </script>
</html>