#picture-one{
	background: url('IMG_0219.JPG');
}

#profile-pic{
	height: 55%;
	margin: 0;
	float: right;
}

#sunset-hill{
	height: 100%;
	width: 100%;
	margin: 0;
}

#about-me{
	overflow-y: scroll;
}